.intro
  height 100%
  width 100%
  position absolute
  z-index 2
  top 0
  left 0
  display flex
  justify-content center
  align-items center
  background-color rgba(255, 255, 255, 0.1)
  & h1
    font-family Romie, serif
    font-weight 400
    font-size 140px
    line-height 168px
    color #F2D194
  & p
    font-family NeueHaas, serif
    font-weight 400
    font-size 24px
    line-height 34px
    color #fff
    width 768px
    text-align center

.blur
  filter blur(10px)