.logo
  font-family Romie
  color #fff
  font-weight 400
  font-size 32px
  line-height 38.4px
  position absolute
  top 42px
  left 48px
  z-index 2
  user-select none
  pointer-events none
  transition 1s ease opacity
  opacity 1

.hidden
  opacity 0