@font-face
  src url('@fonts/Romie-Regular.otf')
  font-family Romie
@font-face
  src url('@fonts/NeueHaas-Roman.otf')
  font-family NeueHaas
@font-face
  src url('@fonts/NeueHaas-Light.otf')
  font-family NeueHaasLight

@import './soundbar.styl'
@import './common.styl'
@import './loading.styl'
@import './intro.styl'
@import './logo.styl'
@import './infos.styl'
@import './about.styl'
@import './goback.styl'